{% extends 'base.html' %}

{% block title %}Guess cities from sattelite images{% endblock %}

{% block content %}
<div id="map"></div>
<div id="guessArea" class="row position-absolute">
    <div class="row">
    <div id="guesses" class="col-md-auto pb-3 mx-auto">
    </div>
    </div>
    <div class="col-md-2 col-sm-0"></div>
    <div class="col-md-8 col-sm-12">
        <form id="guessForm" class="row align-items-center text-center" autocomplete="off">
            <div class="col-md-10 col-sm-12">
                <input id="guessBox" class="form-control form-control-lg" type="text" placeholder="Guess a city" aria-label="Guess a city">
            </div>
            <div class="col-md-2 col-sm-12 pb-1 pt-1 pl-1 pr-1 flex">
                <button id="submitBtn" type="submit" class="btn btn-primary">Guess</button>
            </div>
        </form>
    </div>
    <div class="col-md-2 col-sm-0"></div>
</div>
{% endblock %}
