{% extends 'base.html' %}

{% block title %}Guess cities from sattelite images{% endblock %}

{% block content %}
<div id="map"></div>
<div id="guessArea" class="row position-absolute">
    <div class="row">
    <div id="guesses" class="col-md-auto p-3 mx-auto">
        <span class="guess right">Victoria</span>
        <span class="guess wrong">Vancouver</span>
        <span class="guess wrong">Tokyo</span>
        <span class="guess wrong">New York</span>
        <span class="guess wrong">Paris</span>
        <span class="guess wrong">London</span>
    </div>
    </div>
    <div class="col-md-2 col-sm-0"></div>
    <div class="col-md-8 col-sm-12">
        <form id="guessForm" class="row align-items-center text-center" autocomplete="off">
            <div class="col-md-10 col-sm-12">
                <input id="guessBox" class="form-control form-control-lg" type="text" placeholder="Guess a city" aria-label="Guess a city">
            </div>
            <div class="col-md-2 col-sm-12 p-1 flex">
                <button type="submit" class="btn btn-primary">Guess</button>
            </div>
        </form>
    </div>
    <div class="col-md-2 col-sm-0"></div>
</div>
<!--
<form class="p-3" method="post">
    <label for="guess">Guess a city:</label>
    <input type="text" id="guess" name="guess" required>
    <input type="submit" value="Submit">
</form>
-->
{% endblock %}
