html {
    height: 100%;
}

body {
    height: 100%
}

.navbar {
    min-height: 4rem;
    padding: 0 !important;
    z-index: 2;
}

#container {
    padding: 0 !important;
    height: calc(100% - 4rem);
}

#map {
    width: 100%;
    height: 100%;
}

#guessArea {
    bottom: 20px;
    margin: 0 !important;
}

#autocompleteArea {
    bottom: calc(3em + 2.5rem + 22px);
    margin: 0 !important;
}

#guesses {
    position: relative;
    display: flex;
    flex-wrap: no-wrap;
    overflow-x: auto;
}

#autocompleteList {
    position: relative;
}

#guessWarning {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    top: -60px;
    left: 0px;
    z-index: 1;
    transition: top .3s cubic-bezier(0.175, 0.885, 0.32, 1.275), left .3s linear;
}

#guessWarning.show {
    top: 80px;
    left: 0px;
}

#guessWarning.big {
    animation-name: big;
    animation-duration: .5s;
}

@keyframes big {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

img.emoji {
    width: 1em;
    height: 1em;
    margin: 0px 0.05em 0px 0.1em;
    vertical-align: -0.1em;
}

.autocomplete-option {
    background-color: #000000CC;
    border: 1px solid #ffffff88;
}

.autocomplete-option.selected {
    background-color: #333333CC;
}

.autocomplete-option:active {
    background-color: #666666CC;
}

@keyframes append-animate {
    from {
        transform: scaleX(0);
        opacity: 0;
    }
    to {
        transform: scaleX(1);
        opacity: 1;	
    }
}

.guess {
    flex: 0 0 auto;
    margin-left: 20px;
    padding: 10px 20px 10px 20px;
    border: solid;
    border-color: #ffffffBB;
    border-width: 1px;
    border-radius: 9999px;
    background: #000000BB;
    color: #fff;
    animation: append-animate .3s linear;
    cursor:pointer;
}

.guess:hover {
    background: #000;
    transition: all .3s;
}

.guess.wrong {
    background: #A31621BB;
    transition: all .3s;
}

.guess.wrong:hover {
    background: #A31621;
    transition: all .3s;
}

.guess.right {
    background: #06d6a0BB;
    transition: all .3s;
}

.guess.right:hover {
    background: #06d6a0;
    transition: all .3s;
}

#guesses .guess:first-child {
    margin-left: 0;
}

.icon-img path {
    fill: #fff;
}

#statsModal #stats p {
    margin-bottom: 0;
    line-height: 1.1;
}

#settings-list p:not(:first-child) {
    border-top: 1px solid grey;
}

.guess-distribution {
    display: inline-block;
    background: #666;
    height: 100%;
}

.guess-number {
    background: #06d6a0 !important;
}

.btn-primary {
    min-height: calc(1.5em + 1rem + 2px);
    min-width: calc((1.5em + 1rem + 2px) * 2.4);
    background-color: #1B9AAADE !important;
    border-color: #1B9AAADE !important;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #126773DE !important;
    border-color: #126773DE !important;
}

.btn-primary:active, 
.btn-primary:active:focus,
.btn-primary:focus,
.btn-primary:hover {
    box-shadow: 0 0 0 0.25rem rgb(27 154 170 / 25%) !important;
}

.navbar-brand {
    font-size:1.75rem !important;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

input.form-control, input.form-control:focus {
    color: white;
    background-color: #000000CC;
}

input.form-control:focus {
    border-color: #1B9AAA;
    box-shadow: 0 0 0 0.25rem rgb(27 154 170 / 25%);
}

#submitBtn {
    width: 100%;
}

@media (min-width: 768px) { 
    #submitBtn {
        width: auto;
    }

    #autocompleteArea {
        bottom: calc(1.5em + 1.5rem + 21px);
    }
}
